<!doctype html>
<html lang="en">
    <head>
        <title>Beat Sorter</title>
    </head>
    <body>
        <h1>Beat Sorter</h1>
        <h2>Life should be a crescendo</h2>
        <form enctype="multipart/form-data" action="/upload" method="POST">
            <p>
                <label for="audio">Music file:</label>
                <input type="file" name="audio" />
            </p>
            <p>
                <input type="submit" value="Sort!" />
            </p>
        </form>
        <p>Created using <a href="http://echonest.github.com/remix">Echonest Remix</a></p>
        <p>Please be patient, audio takes a while to process!</p>
    </body>
</html>
